.select {
  border: 1px solid $black-color;
  border-radius: 2px;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.icon {
  @include flexCenter;
  margin-right: 1rem;
}
.closeIcon {
  margin-left: auto;
}
.placeholder {
  color: $gray-color;
  margin: 0;
}
.value {
  margin: 0;
}
.selectElements {
  padding: 0;
  box-shadow: 0 0 3px $gray-color;
  border-left: none;
  margin: 0.4rem 0;
}
.selectElement {
  border-left: 3px solid $primary-color;
  list-style-type: none;
  padding: 0.3rem 0 0.3rem 10px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #eff3f8;
  }
}
