.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 0;
}
.container > div {
  margin: 0 2rem;
}
.bellContainer {
  position: relative;
}
.bell {
  font-size: 2rem;
}
.notificationCount {
  position: absolute;
  top: 4px;
  right: -17px;
  background-color: $red-color;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.userLogo {
  font-size: 2.5rem;
  color: #ffad0d;
  margin-right: 1rem;
}

.userName {
  font-weight: 500;
  cursor: pointer;
}
.userModal {
  position: absolute;
  top: 50px;
  background-color: $fourth-color;
  width: 100%;
  border-radius: 4px;
}
.useModalElement {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: $tertiary-color;
  }
  &:hover svg,
  &:hover p {
    color: $white-color;
  }

  svg {
    width: 18px;
    height: 18px;
    margin: 0 1rem 0 0.5rem;
    color: $black-color;
  }

  p {
    color: $black-color;
    margin: 0.6rem 0;
  }
}

.a {
}
