//.container {
//  padding: 0 2rem;
//}
//
//.main {
//  min-height: 100vh;
//  flex: 1;
//  display: flex;
//  flex-direction: column;
//  margin-left: 300px;
//}
//.eventsList {
//  display: grid;
//  grid-template-columns: repeat(3, 1fr);
//  gap: 60px;
//}
//.mainTitle {
//  font-weight: bold;
//  @include mainTitle;
//
//
//}
//
//
//
//.button {
//  margin-left: auto;
//  display: flex;
//}
//
//.container {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  height: 100%;
//
//  .leftPanel {
//    background-color: $primary-color;
//    flex: 1;
//    height: 100vh;
//  }
//  .image {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    height: 100vh;
//  }
//  .rightPanel {
//    flex: 1;
//    padding: 0 3rem;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//  }
//}
//.input {
//  border: none;
//  border-bottom: 2px solid $secondary-color;
//  opacity: 0.7;
//  padding: 1.6rem 0.8rem 0.5rem 0.2rem;
//  display: block;
//  margin: 2rem 0 0.5rem 0;
//  width: 100%;
//  outline: none;
//}
//.input::placeholder {
//  color: $secondary-color;
//  font-size: 1.1rem;
//}
//.form {
//  button {
//    margin: 0 auto 2rem;
//    display: flex;
//  }
//}
//.button {
//  background-color: $secondary-color;
//  padding: 0.8rem 1.6rem;
//  border: none;
//  color: $white-color;
//  border-radius: 3px;
//  font-size: 1rem;
//  font-width: 600;
//  cursor: pointer;
//}
//.facebookButton {
//  background-color: $blue-color;
//  padding: 0.8rem 1.6rem;
//  border: none;
//  color: $white-color;
//  border-radius: 3px;
//  font-size: 1rem;
//  font-width: 600;
//  cursor: pointer;
//}
//.title {
//  font-size: 2rem;
//  color: $tertiary-color;
//}
//.subtitle {
//  font-size: 1.5rem;
//  color: $tertiary-color;
//  font-weight: 500;
//}
//.noAccount {
//  color: $gray-color;
//}
//.signUpText {
//  color: $secondary-color;
//  font-weight: 500;
//  margin-left: 1rem;
//}
//
//.passwordWrapper {
//  position: relative;
//}
//
//.passwordIcon {
//  height: 1.5rem;
//  width: 2.9rem;
//  padding: 4px;
//  position: absolute;
//  background-color: $white-color;
//  box-sizing: border-box;
//  top: 60%;
//  right: 0;
//  transform: translateY(-50%);
//  cursor: pointer;
//}
//
//.error {
//  margin-top: 0;
//  color: $red-color;
//  font-weight: 400;
//}
//
//.error::before {
//  display: inline;
//  content: '⚠ ';
//}
//.dropDownContainer {
//  margin: 2rem 0;
//  padding: 2rem 0;
//  border: 1px dashed $gray-color;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  flex-direction: column;
//  cursor: pointer;
//  text-align: center;
//  position: relative;
//  border-radius: 6px;
//
//  p {
//    margin-top: 1rem;
//  }
//  svg{
//    margin-top: 0;
//  }
//
//}
//
//.draggingActive{
//  background-color: red;
//}
//.dragover{
//  background-color: red;
//}
//.fileInput{
//  height: 100%;
//  width: 100%;
//  visibility: hidden;
//}
//
//
//.dropfileinput {
//  position: relative;
//  border: 2px dashed $gray-color;
//  border-radius: 20px;
//  margin: 2rem 0;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}
//
//.dropfileinput input {
//  opacity: 0;
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  cursor: pointer;
//
//}
//
//.dropfileinput:hover,
//.dropfileinput.dragover {
//  opacity: 0.6;
//}
//
//.dropfileinputlabel{
//  width: 100%;
//  height: 100%;
//  cursor: pointer;
//}
//.dropIcon{
//  display: block;
//  margin: 1rem auto;
//  font-size: 2.2rem;
//  color: $tertiary-color;
//}
//.dropText{
//  text-align: center;
//  color: $gray-color;
//  margin-bottom: 1rem;
//}
//
//
//.overlay {
//  width: 100%;
//  height: 100%;
//  border-color: red;
//  background-color: gray;
//}

//new styles

.latestEvents {
  .title {
    font-size: 2rem;
    color: $secondary-color;
    text-align: center;
  }
  .lists {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 3rem;
  }
  .addNewEventButton {
    display: block;
    margin-left: auto;
    margin-right: 2rem;
  }
  .addNewEventButton {
    padding: 0.6rem 1rem;
    border: 1px solid $fifth-color;
    outline: none;
    color: $fifth-color;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .leftPanel {
    background-color: $primary-color;
    flex: 1;
    height: 100vh;
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .rightPanel {
    flex: 1;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.label{
  display: block;
  margin: 2rem 0 .5rem;
  color: $secondary-color;
}
.select{
  width: 100%;
  height: 30px;
  border: 1px solid $secondary-color;


}
.input {
  border: none;
  border-bottom: 2px solid $secondary-color;
  opacity: 0.7;
  padding: 1.6rem 0.8rem 0.5rem 0.2rem;
  display: block;
  margin: 2rem 0 0.5rem 0;
  width: 100%;
  outline: none;
}
.input::placeholder {
  color: $secondary-color;
  font-size: 1.1rem;
}
.form {
  button {
    margin: 0 auto 2rem;
    display: flex;
  }
}
.button {
  background-color: $secondary-color;
  padding: 0.8rem 1.6rem;
  border: none;
  color: $white-color;
  border-radius: 3px;
  font-size: 1rem;
  font-width: 600;
  cursor: pointer;
}
.facebookButton {
  background-color: $blue-color;
  padding: 0.8rem 1.6rem;
  border: none;
  color: $white-color;
  border-radius: 3px;
  font-size: 1rem;
  font-width: 600;
  cursor: pointer;
}
.title {
  font-size: 2rem;
  color: $tertiary-color;
}
.subtitle {
  font-size: 1.5rem;
  color: $tertiary-color;
  font-weight: 500;
}
.noAccount {
  color: $gray-color;
}
.signUpText {
  color: $secondary-color;
  font-weight: 500;
  margin-left: 1rem;
}
.passwordWrapper {
  position: relative;
}

.passwordIcon {
  height: 1.5rem;
  width: 2.9rem;
  padding: 4px;
  position: absolute;
  background-color: $white-color;
  box-sizing: border-box;
  top: 60%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.error {
  margin-top: 0;
  color: $red-color;
  font-weight: 400;
}

.error::before {
  display: inline;
  content: '⚠ ';
}
