.wrapper {
  flex: 1;

  .title {
    color: $tertiary-color;
    font-size: 1.4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .chart {
    display: flex;
    max-width: 100%;
    min-width: 400px;
    margin-right: 5rem;
  }
}
